
.body{
  background-color: #325288;
}
  h1{
  text-align: center;
}
#container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.square {
    width: 30%;
    background: purple;
    
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;

}
